#content-footer {
  border-top: 2px solid rgb(3, 28, 168);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#copy {
  border-top: 1px solid #ccc;
  padding-top: .5rem;
  max-height: 30px;
  background-color: #ccc;
}

#copy h6 {
  font-style: italic;
}
