#content-footer {
  border-top: 2px solid rgb(14, 99, 255);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#copy {
  border-top: 1px solid #ccc;
  padding-bottom: 0.5rem;
  max-height: 30px;
  background-color: #ccc;
}

#copy h6 {
  font-style: italic;
}
